.vs/Bookynfo/v15/Server/sqlite3/storage.ide-wal
.vs/Bookynfo/v15/Server/sqlite3/storage.ide-shm
.vs/Bookynfo/v15/Server/sqlite3/storage.ide
.vs/Bookynfo/v15/Server/sqlite3/db.lock
.vs/Bookynfo/DesignTimeBuild/.dtbcache
